# Temporary scripts
*.py
*.class
*.txt
*.dex
classes*.dex

# Build artifacts
.gradle/
build/
app/build/
# *.apk
app/build/*.apk
!docs/*.apk

# Environment & Keystores
.env
local.properties
*.jks
*.keystore

# Local developer access credential
DEV_ACCESS_KEY.txt
